<footer id="footer" class="content gray" role="group">
    <div class="wrapper center-align">
        <div class="pre-footer center-align">
        <div class="vertical-align">GET IN TOUCH</div>
        <br>
        <br>
        </div>

        <div class="footer-group">
            <a href="https://github.com/jimohma" target="_blank" class="footer-social" aria-label="Github">
                <i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
                github/JIMOHMA
            </a>
        </div>
        <div class="footer-group">
            <a href="https://www.linkedin.com/in/jimohma" target="_blank" class="footer-social" aria-label="LinkedIn">
                <i class="fa fa-linkedin" aria-hidden="true" title="LinkedIn"></i>
                /jimohma
            </a>
        </div>
        <div class="footer-group">
            <a href="mailto:mail4ayodele@gmail.com" class="footer-social" aria-label="Email">
                <i class="fa fa-envelope" aria-hidden="true" title="Email"></i>
                mail4ayodele@gmail.com
            </a>
        </div>
    </div>

    <div class="wrapper center-align small-text">
        <hr/>
        <p> Cloudflare Protection: <span style="color: #00ff00"><strong>Active</strong></span>
        <br> &#169; 2022 Muyideen Jimoh.<a href="https://github.com/JIMOHMA/jimohma.github.io" target="_blank"> MIT License</a>
        </p>
    </div>
</footer>

<div class="footer-rainbow">
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
</div>
