Hello! 
<span style="font-size: 90%;">👋</span>
<br>
I’m <span class="intro-emphasis"><a class="intro-link" href="/about">Muyideen Jimoh.</a>
</span>
I graduated from <span class="intro-emphasis"><a class="intro-link" href="https://www.mcmaster.ca/" target="_blank">McMaster University</a></span> 
studying <span class="intro-emphasis"><a class="intro-link" href="https://www.eng.mcmaster.ca/cas/programs/degree-options/beng/mechatronics" target="_blank">Computer Science.</a>
</span>
<br>
<br>

I'm currently a Developer and Senior Support Technician at <span class="intro-emphasis">
<a class="intro-link" href="https://www.gmaxequine.com/" target="_blank">Gmax Technology Ltd</a>
</span> where I develope Automation tools that are used daily for live race monitoring operations by Gmax employees both in Canada and UK. I am also a developer at 
<span class="intro-emphasis"><a class="intro-link" href="https://timberleaco.com/" target="_blank">Timberlea Designs Inc</a>
</span> where I developed automation tools used for 
<span class="intro-emphasis"><a data-fancybox class="intro-link" href="https://www.youtube.com/watch?v=y7aQ7yfhMm0&t=9s" target="_blank">image-processing</a></span> 
    of artworks and complex deisgn mockups within Adobe Photoshop environment!


<!--
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/OmtyYt64q7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<span class="intro-emphasis"><a class="intro-link" href="https://youtu.be/OmtyYt64q7A" target="_blank">AMAZING client</a></span>!
-->
