<nav role="navigation">
    <ul class="header-nav-list header-social-nav">
        <li>
            <span style="font-size: 85%;"><i class="fa fa-envelope" aria-hidden="true" title="Email"></i></span>
            <a href="mailto:mail4ayodele@gmail.com">mail4ayodele@gmail.com</a></li>
        </li>
        <li>
            <i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
            <a href="https://github.com/jimohma/" target="_blank">Muyideen Jimoh</a></li>
        </li>
        <li>
            <i class="fa fa-linkedin" aria-hidden="true" title="LinkedIn"></i>
            <a href="https://www.linkedin.com/in/jimohma/" target="_blank">Jimohma</a>
        </li>
    </ul>
    <div class="header-nav-divider"></div>
    <ul class="header-nav-list">
        <li><a data-fancybox data-type="iframe" data-src="/resume/Muyideen_Jimoh_Resume.pdf" href="javascript:;">Resume.pdf</a></li>
        <li><a href="#about-me">about.html</a></li>
    </ul>
</nav>